<h2>Countries</h2>

<ul class="countries">
  <li *ngFor="let country of coutries"
          [class.selected]="country === selectedCountry"
          (click)="onSelect(country)">
          <span class="badge">{{country.id}}</span> {{country.name}}
  </li>
</ul>

